body {
	background-color: #3a2a45;
	color: white;
}

.options {
	margin-top: 15%;
	font-size: 90px;
}

.fa {
	font-size: 100px;
}

a {
	color: white;
	text-decoration: none;
}

a:link {
	color: white;
	text-decoration: none;
}

a: visited {
	color: white;
	text-decoration: none;
}

a: hover{
	color: grey;
	text-decoration: none;
}

a: active{
	color: white;
	text-decoration: none;
}

form {
	font-size: 12px;
}

input[type=file] {
    display: initial;
}

input[type="submit"] {
    border: 1px white solid;
    background: transparent;
}

input[type="submit"]:hover {
    border: 1px white solid;
    background: transparent;
    opacity: 0.5;
}

.options.paadu {
    text-align: center;
    margin-left: 275px;
    position: fixed;
}

div#alert {
    font-size: 20px;
    width: 425px;
    line-height: 0.5;
    margin-top: 25px;
}