<!DOCTYPE html>
<html>
<head>
	<title>Paatu Dabba</title>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<script type="text/javascript" src="static/js/jquery.js"></script>
</head>
<body>
	{% block content %}
		{% for song in songs%}
			<div>
				title: {{ song.title }} <br>
				{% if song.album %}
					artist: {{ song.artist }} <br>
				{% endif %}
				{% if song.album %}
					album: {{ song.album }} <br>
				{% endif %}
				mp3: <a href="{{ song.url }}" download>Download</a> <br>
			</div>
			<hr> 
		{% endfor %}
	{% endblock content %}			
</body>
</html>


