<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta charset="utf-8">
		<title>Paatu Dabba</title>
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/styles.css">
		<script src="static/js/jquery.js"></script>
		<script src="static/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript">
			window.onload = function() {
				var status = {{ prog }};
				var alertDiv = document.getElementById('alert');
				switch (status) {
					case -1:
						alertDiv.className = 'center-block alert alert-danger alert-dismissible';
						alertDiv.innerHTML = '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Upload failed.';
						break;
					case 1:
						alertDiv.className = 'center-block alert alert-success alert-dismissible'; 
						alertDiv.innerHTML = '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>Upload successful.';
						break;
					case 0:
						alertDiv.className = '';
						alertDiv.innerHTML = '';
						break;
				}
			}
		</script>
	</head> 

	<body class="main-page">
		<div class="container">
			<div class="row options">
				<div class="col-md-6 col-md-offset-3 text-center" id="podu">
					<i class="fa fa-cloud-upload"></i><br>
					Podu
					<form class="center-block" action="" method="post" enctype="multipart/form-data">
						<input type="file" name="file" multiple/>
						<input type="submit" value="Upload">
					</form>
					<div id="alert" class="center-block" role="alert"></div>
				</div>
			</div>
		</div>	
	</body>

</html>
