<!DOCTYPE html>
<html>

	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/styles.css">
		<meta charset="utf-8">
		<title>Paatu Dabba</title>
	</head> 

	<body class="main-page">
		<div class="container">
			<div class="row options">
				<div class="col-md-6 col-md-offset-3 text-center" id="podu">
					<i class="fa fa-cloud-upload"></i><br>
					Podu
					<form class="center-block" action="" method="post" enctype="multipart/form-data">
						<input type="file" name="file" multiple/>
						<input type="submit" value="Upload">
					</form>
				</div>
			</div>
		</div>		
	</body>

</html>
